In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas_profiling as pdp
sns.set_style("ticks")

research questions:
 - How many games are available on different consoles?
 - How do User/critic scores vary amongst the different games on the consoles
 - Other differences between data for different consoles
 
Basic description
The raw data was obtained from [kaggle]("https://www.kaggle.com/rush4ratio/video-game-sales-with-ratings"), and is a user compiled data set which extends a scrape already performed by Metacritic. It includes over 16,000 entries, of which ~6,900 have all aspects complete. Each entry features a videogame and the console/platform it was released on

In [6]:
df = pd.read_csv("https://github.com/data301-2020-winter2/course-project-group_1019/blob/main/data/raw/Video_Games_Sales_as_at_22_Dec_2016.csv?raw=true")
print(df)
df.describe()

                                Name Platform  Year_of_Release         Genre  \
0                         Wii Sports      Wii           2006.0        Sports
1                  Super Mario Bros.      NES           1985.0      Platform
2                     Mario Kart Wii      Wii           2008.0        Racing
3                  Wii Sports Resort      Wii           2009.0        Sports
4           Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
...                              ...      ...              ...           ...
16714  Samurai Warriors: Sanada Maru      PS3           2016.0        Action
16715               LMA Manager 2007     X360           2006.0        Sports
16716        Haitaka no Psychedelica      PSV           2016.0     Adventure
16717               Spirits & Spells      GBA           2003.0      Platform
16718            Winning Post 8 2016      PSV           2016.0    Simulation

          Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0          Nintendo     41.36     28.96      3.77         8.45         82.53
1          Nintendo     29.08      3.58      6.81         0.77         40.24
2          Nintendo     15.68     12.76      3.79         3.29         35.52
3          Nintendo     15.61     10.93      3.28         2.95         32.77
4          Nintendo     11.27      8.89     10.22         1.00         31.37
...             ...       ...       ...       ...          ...           ...
16714    Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16715   Codemasters      0.00      0.01      0.00         0.00          0.01
16716  Idea Factory      0.00      0.00      0.01         0.00          0.01
16717       Wanadoo      0.01      0.00      0.00         0.00          0.01
16718    Tecmo Koei      0.00      0.00      0.01         0.00          0.01

       Critic_Score  Critic_Count User_Score  User_Count Developer Rating
0              76.0          51.0          8       322.0  Nintendo      E
1               NaN           NaN        NaN         NaN       NaN    NaN
2              82.0          73.0        8.3       709.0  Nintendo      E
3              80.0          73.0          8       192.0  Nintendo      E
4               NaN           NaN        NaN         NaN       NaN    NaN
...             ...           ...        ...         ...       ...    ...
16714           NaN           NaN        NaN         NaN       NaN    NaN
16715           NaN           NaN        NaN         NaN       NaN    NaN
16716           NaN           NaN        NaN         NaN       NaN    NaN
16717           NaN           NaN        NaN         NaN       NaN    NaN
16718           NaN           NaN        NaN         NaN       NaN    NaN

[16719 rows x 16 columns]

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

In [8]:
print(len(df.index))
print(len(df.dropna().index))

16719
6825